<div class="main" action="createToken">
  <form>
    Customer ID
    <select name="customer_id">
      <% Customer.all.each do |customer|%>
        <option value="<%= customer.customer_id %>"><%= customer.identifier %></option>
      <% end %>
    </select>
    <br>
    <input type="submit" value="Create">
  </form>

  <div class="result">
    <br>
    <%= @create_result %>
  </div>
</div>