<div class="main">
  <form>
    Login ID
    <select name="login_id">
      <% @all_logins.each do |login| %>
        <option value="<%= login['id'] %>"><%= login['id'] %></option>
      <% end %>
    </select>
    <br>
    <input type="submit" value="Destroy">
  </form>

  <div class="result">
    <br>
    <%= @destroy_result %>
  </div>
</div>